// --------------------------------------------
// --------------------------------------------
//
// Base
//
// --------------------------------------------
// --------------------------------------------


html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: $sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  &.side-nav--is-active {
    overflow: hidden;
  }
}


.site-nav {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: $color-gray--drk;
  padding: 0 30px;

  a {
    color: darken($color-bg--lt, 25%);
    text-decoration: none;
    display: block;
    &:hover { color: darken($color-bg--lt, 15%); }
  }
}



// --------------------------------------------
// --------------------------------------------
//
// Image Helper
//
// --------------------------------------------
// --------------------------------------------

img { line-height: 0; vertical-align: middle; }
